.DS_Store

filters/outputs
filters/inputs
filters/__pycache__

black-n-white/inputs
black-n-white/outputs
black-n-white/__pycache__

colorizer/image.*
colorizer/colorized.png
colorixer/__pycache__

pixelizer/image.*
pixelizer/pixelized.png
pixelizer/__pycache__

silhouette/image.*
silhouette/silhouette.jpg
silhouette/__pycache__
